body {
    background: url("../images/chucky.jpg") no-repeat center center fixed;
    background-size: cover;
    /*background-repeat: no-repeat;*/
}



h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

input {
    padding: 6px 10px;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
}

input[type=submit]{
    background-color: #37a587;
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: background-color 300ms linear;
    min-width: 150px;
}

input[type=submit]:hover {
    background-color: #2a8c71;
    cursor: pointer;
}

input[type=submit]:active,
input[type=submit]:focus {
    outline: none;
}

input[type=text] {
    display: block;
    border: 1px solid #37a587;
}

input[type=text]:focus {
    outline: none;
    border-color: #2a8c71;
}

.wrapper {
    padding-top: 10px;
    max-width: 960px;
    margin: 0 auto;
}

.joke {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.movies {
    display: flex;
    flex-flow: row wrap;
}

.movies figure {
    width: calc(25% - 20px);
    margin-bottom: 15px;
    padding: 10px;
}

.movies img {
    max-width: 100%;
}

.movies figcaption {
    margin-bottom: 5px;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        padding: 10px;
    }
}

@media screen and (max-width : 736px){

    .movies figure {
        width: calc(50% - 20px);
        text-align: center;
    }
}
